.test-sound-section {
    background-color: #d8e5f5;
    height: 100vh;

    .main-sound-section {
        width: 760px;
        margin: auto;
        padding-top: 60px;

        .main-title {
            h3 {
                text-align: left;
                color: #fff;
                font-size: 17px;
                font-weight: 700;
                text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
                margin-bottom: 0px;

                img {
                    width: 48px;
                    height: 48px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }

        .details-wrap {
            padding: 12px;
            border: 1px solid #fff;
            min-height: 150px;
            border-radius: 0 0 12px 12px;
            margin-top: -4px;
            h6{
                text-align: left;
                font-size: 16px;
                color: #000;
                margin-bottom: 16px;
                margin-top: 3px;
                font-weight: 400;
               span{
                 font-weight: 700;
               }
            }
            p{
                text-align: left;
                font-size: 16px;
                color: #000;
                margin: 10px 0px;
                img{
                   margin-right: 7px;
                   width: 18px;
                   height: 18px;
                }
            }
            .play-sound-btn{
                color: #1e415b;
                font-size: 15.4px;
                font-weight: 700;
                margin: 0 auto 28px!important;
                padding: 6px 16px;
                background: transparent;
                text-shadow: 0 1px 1px #fff;
                box-shadow: 0 1px 1px rgba(0,0,0,.5);
                border-radius: 5px;
                border: none;
                display: block;
            }
            .continue-btn{
                color: #1e415b;
                font-size: 15.4px;
                font-weight: 700;
                margin: 0 auto 15px!important;
                padding: 6px 16px;
                background: transparent;
                text-shadow: 0 1px 1px #fff;
                box-shadow: 0 1px 1px rgba(0,0,0,.5);
                border-radius: 5px;
                border: none;
                display: block;
            }
        }
    }
}