.tablefillintheblanks-question-type {
    padding-top: 14px;
    font-size: 14px;


    .tablefillintheblanks-question-total {
        font-weight: 600;
    }

    .question-choose-titel {}

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-width: 1px;
    }

    input {
        width: 50%;
        height: 22px;
        margin: 0px 4px;
    }

    .table-input {
        background: #f3f3f3;
    }
}