.main-speaking-section-task1 {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    flex-direction: column;

    .main-header {
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .video {
        width: 43%;

        height: 43% source {
            animation: video 0.7s ease;
            animation-delay: 1s;
        }

        @keyframes video {
            0% {
                transition: all 0.6s ease-in-out;
            }

            100% {
                transition: all 0.6s ease-in-out;
            }
        }
    }

    .react-mic {
        height: 60%;
        width: 60%;
    }

    .circular-img-container {
        position: absolute;
        left: 45%;
        top: 11%;
        width: 50px;
        height: 50px;
        background-color: white;
        position: absolute;
        border-radius: 25px;
        z-index: 99;
    }

    .main-part-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 10px;


        .main-part-section {
            display: flex;


            .part {
                margin: 0 10px;
                display: flex;
                justify-content: center;
                cursor: pointer;
                border-radius: 10px;
                flex: 1;
                padding: 10px;
                margin: 10px;
                border: 1px solid #ccc;
                cursor: pointer;
            }

            .part.highlighted {
                font-weight: bold;
                border-color: black;
            }
        }
    }

    .react-mic-main {
        position: relative;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-speaking-section-task1 {
        .video {
            width: 70%;
            height: 70%
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-speaking-section-task1 {
        .video {
            width: 70%;
            height: 70%
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-speaking-section-task1 {
        .video {
            width: 60%;
            height: 60%
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-speaking-section-task1 {
        .video {
            width: 50%;
            height: 50%
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-speaking-section-task1 {
        .video {
            width: 45%;
            height: 30%
        }
    }
}