.l-choice-multiple-choiceone-asw {
    .l-choice-multiple-choiceone-asw-questions {
        font-size: 13px;
        font-weight: 500;
    }

    .form-check {
        font-size: 13px;

    }

}

.l-choice-multiple-choiceone-interaction {

    font-size: 13px;
    font-weight: 500;
}