.modal-dialog {
    .modal-content {
        border-radius: 10px;
        border: 3px solid #008eac;

        .modal-title {
            color: red;
            font-size: 22px !important;
            font-weight: 600 !important;
        }

        .modal-body {
            font-size: 18px !important;
            font-weight: 500;
        }

        .modal-footer {
            button {
                width: 70px;
                background-color: #008eac;
                border-color: #008eac;
                font-weight: 600;
            }

            :hover {
                background-color: #09697d;
            }
        }
    }
}