.writing-section-task-2 {
    .writing-section-question-titel {
        border-bottom: 1px solid #ced4da;
        padding: 5px 5px;
    }

    .word-count {
        float: right;
        font-size: 13px;
        font-weight: 400;
    }

    h3 {
        font-size: 12px;
    }

    h5,
    h2 {
        font-size: 16px;

    }

    img {
        width: 80%;
    }



    .paragraph-question-paragraph {
        font-size: 13px;
        font-weight: 400;
    }

    .writing-Task-1-img {
        width: 100%;
    }

    form {
        .form-control {
            height: 300px;
            max-height: 300px;
        }
    }
}