.identify-information-options-question-type {

    .identify-information-titel {}

    .identify-information-options-question {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        // .identify-information-question-total {
        //     border-bottom: 1px solid #d8d6d6;
        // }

        .accordion-header {
            .accordion-button {
                background-color: #f3f3f3;
                color: black;
            }

            .accordion-button:not(.collapsed)::after {
                display: none;
            }

            .accordion-button::after {
                display: none;

            }

            button {
                font-size: 13px;
                font-weight: 500;
            }
        }

        .accordion-collapse {
            .form-check-label {
                font-size: 13px;
                cursor: pointer;
            }
        }

        .quation-choose-titel {
            font-size: 12px !important;
        }

    }
}