.mic-main-wrap {
  .progress-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .audio-img {
      width: 40px
    }

    .progress-bar {
      background-color: #008eac !important;
      //   height: 1px; 
      width: 100%;

      .btn-wrap {
        background-color: white;

      }
    }
  }
}